table {

	&.tools_page_string-locator { /* stylelint-disable-line selector-class-pattern -- WordPress' class for page paths */

		display: none;

		&.restore {

			display: table;
		}
	}

  .string {
	width: 60%;
  }
  .filename {
	width: 20%;
  }
  .line {
	width: 10%;
  }
  .position {
	width: 10%;
  }
}
