#string-locator-search-results-table-wrapper {

	display: none;

	&.restore {

		display: block;
	}

	.tablenav {

		min-height: 30px;
		height: initial;
	}
}

table {

	&.tools_page_string-locator { /* stylelint-disable-line selector-class-pattern -- WordPress' class for page paths */

		display: none;

		&.restore {

			display: table;
		}
	}

	thead {

		.manage-column.check-column {

			padding: 11px 0 10px 3px;
		}
	}

	.string {

		width: 60%;
	}

	.filename {

		width: 20%;
	}

	.line {

		width: 10%;
	}

	.position {

		width: 10%;
	}
}
