.wrap {

	& > h1 {

		margin-bottom: 15px;
	}
}

.string-locator-italics {

	font-style: italic;
}

.string-locator-feedback {

	background: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;

	&.hide {

		display: none;
	}

	progress {

		width: 100%;
		height: 1.5em;
	}

	#string-locator-feedback-text {

		display: inline-block;
		text-align: center;
		width: 100%;
	}
}

body {

	&.tools_page_string-locator { /* stylelint-disable-line selector-class-pattern -- WordPress' class for page paths */

		&.file-edit-screen {

			#wpcontent {

				padding-left: 0;
			}

			#wpfooter {

				display: none;
			}

			#wpbody-content {

				padding-bottom: 0;
			}
		}
	}
}

span.btn-logo-inline img {
    width: 17px;
    padding-right: 3px;
}