/* Basic styling */
@import '_shared/shared';

/* Search page */
@import 'search/search';

/* Editor page */
@import 'editor/editor';

/* Media Queries for responsive behavior */
@media (max-width: 1065px) {
	.string-locator-edit-wrap {
		display: block;
		margin-bottom: 20px;
		width: 99%;
	}

	.string-locator-sidebar-wrap {
		display: block;
		margin-bottom: 20px;
		width: 99%;
	}
}
