name: trunk

on:
  push:
    branches:
      - trunk

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Versions
        - run: |
          php --version
          composer --version
          node --version
          yarn --version

      - name: PHP Syntax check
        working-directory: ./src/php
        run: find . \( -name '*.php' \) -exec php -lf {} \;

      - name: Set up composer
        working-directory: ./
        run: composer install

      - name: PHPCS
        working-directory: ./
        run: composer run check-cs

      - name: Set up Yarn
        working-directory: ./
        run: yarn install

      - name: CSS Lint
        working-directory: ./
        run: yarn run lint:css

      - name: JavaScript Lint
        working-directory: ./
        run: yarn run lint:js

      - name: Test build
        working-directory: ./
        run: yarn run build
